*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: .2s linear;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #4b7fe8, #73a2ec);
    color: #fff;
    padding: 1.5rem;
}
.calculator{
    width: 100%;
    max-width: 600px;
    margin: 10% 0 0 10%;
}
.calculator h1{
    font-size: 4rem;
}
.calculator h1 span{
    color: #696969;
}
.calculator h1 span:hover{
    color: #f7d96b;
    cursor: pointer;
}
.input-box{
    margin: 2rem 0;
    padding: 1.7rem;
    border-radius: 0.7rem;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    /* justify-content: space-between;  */
}
.input-box input{
    flex: 1;
    margin-right: 1.3rem;
    padding: 0.8rem 1.3rem;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    background-color: transparent;
    font-size: 1.5rem;
    position: relative;
}
.input-box input::-webkit-calendar-picker-indicator{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    position: absolute;
    background-position: calc(100% - 10px);
    background-size: 1.8rem;
    cursor: pointer;
}
.input-box input:hover{
    background-color: rgba(255, 255, 255, 0.2);
}
.input-box button{
    background-color: #73a2ec;
    color: #333;
    border: none;
    outline: 0;
    padding: 1rem 1.6rem;
    border-radius: 0.4rem;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}
.input-box button:hover{
    background-color: #f7d96b;
}
#result{
    font-size: 1.5rem;
}
#result span{
    color:#ffff76;
}
